<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/head') %>

    <!-- Open Graph Protocol -->
    <meta name="description" content="¡Bienvenido al portafolio de Jorge Landaeta! Desarrollador web fullstack autodidacta con experiencia"> <!-- ˜150 chars -->
    <meta property="og:title" content="¡Bienvenido al portafolio de Jorge Landaeta! Desarrollador web fullstack">
    <meta property="og:description" content="¡Bienvenido al portafolio de Jorge Landaeta! Desarrollador web fullstack autodidacta con experiencia, Aquí encontrará más detalles sobre mí trabajo"> <!-- ˜300 chars -->
    <meta property="og:site_name" content="Portafolio Jorge Landaeta">
    <meta property="og:locale" content="es_VE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://programacion2-30327281.onrender.com/">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/index.min.css">

    <!-- Boxicons-->
    <link rel="stylesheet" href="icons/css/boxicons.min.css">

    <title> <%= title %> </title>
</head>
<body>

    <!-- 
        * INFO Messages
    -->
    <%- include('partials/notifications') %>
    
    <!-- 
        * NAVBAR
    -->
    <nav>
        <%- include ('partials/navbar')%>
    </nav>

    <!--
        * HEADER
    -->
    <header>
        <%- include('partials/header') %>
    </header>

    <!--
        * Techs mini-section
    -->
    <div class="techs">
        <%- include('partials/techs') %>
    </div>

    <!--
        * ABOUT
    -->
    <section class="about">
        <%- include('partials/about') %>
    </section>

    <!--
        * FEATURED WORKS
    -->
    <div id="anchor-works"></div>
    <div class="featured-works" >
        <%- include('partials/works') %>
    </div>

    <!--
        * SERVICES ==== ON CONSTRUCTION! ====
    
    <section class="services">
        <%# include('partials/services') %>
    </section>
    -->

    <!--
        * FOOTER
    -->
    <footer class="footer">
        <%- include('partials/footer') %>
    </footer>

    <!-- 
        * SCRIPTS 
    -->
    <script src="/scripts/index.js"></script>
</body>
</html>